body {
    background-image: url(../img/matrix-code-numbers-green.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Matrix', sans-serif;
}

@font-face {
    font-family: "Matrix";
    src: url(../fonts/matrix.ttf);
}

a {
    text-decoration: none;
}

.my_title {
    color: whitesmoke;
    font-size: 72px;
}